# 忽略 Go 编译生成的可执行文件（假设项目名为 yourproject）
framework-mg
framework-mg.exe
main
main.exe
framework/


# 忽略测试覆盖率文件
*.out

# 忽略日志文件
logs/
*.log

# 忽略 IDE 配置文件
.vscode/
.idea/

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略依赖缓存目录
vendor/
__debug*